fastapi[all]~=0.115.6
Pillow~=10.4.0
tf-nightly
numpy~=2.0.2

keras==3.6.0
keras-nightly==3.7.0.dev2024112103
uvicorn==0.34.0
Keras-Preprocessing==1.1.2
pandas==2.2.3
scikit-learn==1.5.2
tensorflow==2.18.0
matplotlib==3.9.4
torch==2.4.1
torchvision==0.19.1
scipy==1.14.1